@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.contact-back{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d3e1e2;
}
.contact-form{
    position: relative;
    z-index: 0;
    padding: 30px;
    justify-content: center;
    display: grid;
    align-items: center
}
#contact-container{
    max-width: 800px;
    margin-top: 0 auto;
}

.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #10272f;
    text-align: center;
    font-family: 'poppins';
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.content{
    flex-basis: 50%;
    padding: 3em 3em; 
    background: #eef1f6;
    box-shadow: 0 0 2em #a5dbdd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}

.form-img img{
    max-width: 100%;
    
    
}
.btn,
button,
#contact-input{
    border-radius: 35px;
}
.btn:hover,
button:hover{
    color: #10272f;
    transition: 0.5s ease;
}
.contact-form form{
    margin: 30px 0;
}
.contact-form #contact-input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #10272f;
}
.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #10272f;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #10272f;

}
.error{
    color: red;
}
@media(max-width:736px){
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}