#background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  
}
.get-back{
  background: #d3e1e2;
}
#topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

#topic h2 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}
#topic1{
  text-decoration: none;
}
#add_actions {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color:  #00796b;
  border: none;
  width: 10rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}

#add_actions:hover {
  background-color: lightgreen;
}

#add_actions:active {
  background-color: red;
}

#gettable {
  margin: 0 auto;
  border-collapse: separate;
  width: 100%;
  background: #d3e1e2;
}

#gettable th,
#gettable td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 2px solid #ccc;
}

#gettable th {
  background: #d3e1e2;
}

#view_action {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color:  #00796b;
  width: 6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}
#view_action::after {
  content: "VIEW";
  display: none;
}

#view_action:hover::after {
  display:inline-block;
}

#view_action:hover {
  background-color: lightgreen;
}

.search-container-wrapper {
  display: flex;
  justify-content: center;
}

.search-container {
  margin: 10px;
}

.l-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7f8d99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.l-button:hover {
  background-color: #0056b3;
}
.plant-details {
  border: none;
  background: #d3e1e2;
  box-shadow: 0 0 2em #a5dbdd;
  padding: 30px;
  border-radius: 15px;
  max-width: 450px;
  margin: 0 auto;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
}
.plant-back{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d3e1e2;
}